// out: null

//Common
//===============================

.section{
	padding: 110px 0;
}
.wrapper{
	max-width: 1170px;
	margin: auto;
}
.title{
	font-family: "Montserrat-bold", arial;
	color:#fff;
	text-transform: uppercase;
}
.title_size_xl{
	font-size: 48px; 
}
.title_size_l{
	font-size: 30px;
}
.title_size_m{
	font-size: 16px;
}
.title_size_s{
	font-size: 14px;
}
.title_section{
	margin-bottom: 120px;
	&::after{
		content: "–";
		position: relative;
		left:20px;
	}
	&::before{
		content: "–";
		position: relative;
		right:20px;
	}
}
.title_theme_dark{
	color: #000;
}
.quote{
	font-family: "Open-sans-italic", arial;
	color:#fff;
}
.quote_size_m{
	font-size: 18px;
	line-height: 48px;
}
.quote_size_s{
	font-size: 14px;
}
.button{
	font-family: "Montserrat-bold", arial;
	font-size: 12px;
	border: 1px solid #fff;
	color:#fff;
	background: transparent;
	padding: 20px 15px;
	transition: 0.5s;
	&:hover, &:focus{
		background-color: #fff;
		color:@extra-first-color;
		cursor: pointer;
	}
}
.flex-row{
	display: flex;
	justify-content: center;
	flex-flow:row wrap;
}
.flex-col{
	display: flex;
	justify-content: center;
	flex-flow:column wrap;
}
.center{
	text-align: center;
}
.card{
	background-color: #fff;
}
.card_size_s{
	padding-right: 30px;
	flex-basis: 540px;
	margin: 10px;
}
.card_size_m{
	padding-right: 30px;
	max-width: 570px;
	min-width: 460px;
	height: 300px;
}
.card_size_b{
	box-sizing: border-box;
	padding-top: 1px; //????????
	max-width: 590px;
	min-width: 460px;
	height: 630px;
	.content{
		padding: 10px 30px 30px;
	}
}
.card_theme_hover-blue{
	&:hover,&:focus{
		transition: 0.5s;
		background-color: @extra-second-color;
		.card__img_size_s{
			margin:0 20px 0 0;
			width: 200px;
			height: 200px;
		}
		.card__social-button{
			border: 1px solid #fff;
			color: #fff;
			&:hover,&:focus{
				background-color: #fff;
				color:@extra-second-color;
			}
		}
		.card__title{
			color: #fff;
		}
		.card__sport-type{
			color:#4f4c86;
		}
		color:#fff;
	}
}
.card_theme_hover-transparent{
	&:hover,&:focus{
		padding-top: 0px;
		transition: 0.5s;
		.card__img_size_m{
			margin:0 20px 0 0;
			width: 200px;
			height: 300px;
		}
		.card__img_size_b{
			margin: 0px;
			max-width: 590px;
			height: 330px;
		}
		.card__social-button{
			&:hover,&:focus{
				border-color: @extra-second-color;
				background-color: @extra-second-color;
				color: #fff;
			}
		}
	}
}
.card__img{
	transition: 0.5s;
	overflow: hidden;
	margin: 10px 30px 10px 10px;
}
.card__img_size_s{
	float: left;
	width: 180px;
	height: 180px;
}
.card__img_size_m{
	float: left;
	width: 180px;
	height: 280px;
}
.card__img_size_b{
	margin:10px;
	max-width: 570px;
	height: 310px;
}
.card__sport-type{
	font-family: "Open-sans", arial;
	font-size: 12px;
	text-transform: uppercase;
	color:#cb1174;
	font-weight: bold;
}
.card__text{
	font-family: "Open-sans", arial;
	font-size: 13px;
	line-height: 26px;
	margin:15px 0;
}
.card__text_size_m{
	margin: 45px 0;
}
.card__text_size_b{
	margin: 35px 0;
}
.card__title{
	padding: 30px 0 20px;
}
.card__social-button{
	font-size: 14px;
	border-radius: 45px;
	border: 1px solid #d1d1d1;
	color: #000;
	padding: 7px 10px;
	transition: 0.5s;
}


// End common

//Main section (first screen)
//============================================

.section_main{
	background-color: #000;
	background-image: url('../i/slider-main/1.jpg');
	background-position: center top;
	background-size: 100% auto;
	padding-top: 470px;
}
.main-title{
	font-family: "Hamurz", arial;
	font-size: 100px;
	color: #fff;
}
.quote_main{
	padding:30px 0 90px;
	max-width: 770px;
	min-width: 300px;
}
.button_main{
	padding: 20px 25px;
}

// End main section

//Programs section
//============================================
.vertical-card {
	overflow: hidden;
	transition: 0.5s;	
	flex-basis: 270px;
	height: 580px;
	&:hover,&:focus{
		.vertical-card__img{
			height: 370px;
			width: 260px;
			img{
				height: 370px;
				width: auto;
				opacity: 0.7;
			}
		}
		padding-top: 5px;
		height: 575px;
	}
}
.vertical-card_programs{
	background-color:@extra-first-color;
	margin: 10px;
}
.vertical-card__img{
	background-color: #000;
	margin: 0px auto;
	transition: 0.5s;
	height: 500px;
	width: 270px;
	overflow: hidden;
	img{
		transition: 0.5s;
		height: 500px;
		width: auto;
	}
}
.vertical-card__title_programs{
	padding: 35px 0 40px;
}
.vertical-card__button{
	position: relative;
}

// End Programs section

//Coaches section
//============================================
.section_coaches{
	background-color: #000;
}

// End Coaches section

//Video section
//============================================

// End Video section

//Fitness post section
//============================================

.section_fitness-post{
	background-color: @extra-first-color;
}
.fitness-post__grid-container{
	display: grid;
	grid-template-columns: 1fr 30px 1fr;
	grid-template-rows: 1fr 30px 1fr;
	grid-template-areas: "el1 . el3"
						 ".   . el3"
						 "el2 . el3";
}
.fitness-post__grid-element{
}
.element-1{
	grid-area: el1;
}
.element-2{
	grid-area: el2;
}
.element-3{
	grid-area: el3;
}
.fitness-post__flex-right{
	display: flex;
	justify-content: flex-end;
}
.fitness-post__flex-left{
	display: flex;
	justify-content: flex-start;
}
.fitness-post__button-div{
	margin-top:120px;
}
// End Fitness post section

//Testimonials section
//============================================

.testimonials{
	max-width: 1170px;
	margin: auto;
	position: relative;
}
.testimonials__img{
	max-height:470px;
	margin:auto; 
}
.testimonials__block-text{
	background-color: @extra-second-color;
	min-height: 215px;
	padding:30px 30px 90px;
	color:#fff;
}
.testimonials__top-text{
	font-family: "Bukhari_Script";
	font-size: 18px;
	line-height: 30px;
	span{
		font-family: "Open-sans";
		font-size: 12px;
		text-transform: uppercase;
		line-height: 30px;
	}
}
.testimonials__text{
	font-family: "Open-sans-italic";
	font-size: 14px;
	line-height: 26px;
	margin-top:50px;
}
.testimonials__controls{
	position: absolute;
	bottom: 30px;
	&_left{
		left:30px;
	}
	&_right{
		left:90px;
	}
}


// End testimonials



//Instagram section
//============================================
.instagram{
	display: flex;
	justify-content: center;
}
.instagram__item{
	overflow: hidden;
	min-width: 150px;
	position: relative;
	&:hover,&focus{
		.instagram__item-overline{
			display: block;
		}
	}
}
.instagram__item-overline{
	display: none;
	position: absolute;
	box-sizing: border-box;
	top:0;
	border-top: 5px solid @extra-first-color;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}
.instagram__icons {
	color:#fff;
	position: absolute;
	bottom: 10px;
	padding: 5px;
	cursor: pointer;
	&:hover,&focus{
		color:@extra-first-color;
	}
}
.instagram__button{
	background: transparent;
	border: none;
	right: 40px;
}
.instagram__link{
	right: 10px;
}


// End Instagram


//Footer section
//============================================

.footer{
	margin-top: -2px;
	background-color: #30394d;
	color:#cce2ff;
}
.footer__column{
	flex-basis: 200px;
	margin-left: 30px;
	&:first-child{
		margin-left: 0;
	}
}
.footer__column_more{
	flex-grow: 2;
}
.footer__title{
	padding: 60px 0 30px;
	position: relative;
	&::after{
		content: "";
		display: block;
		position: absolute;
		bottom: 1px;
		width: 40px;
		height: 1px;
		background-color: @extra-second-color;
	}
}
.footer__text{
	font-family: "Open-sans", arial;
	font-size: 13px;
	line-height: 30px;
	margin: 30px 0;
}
.footer__span{
	color: @extra-second-color;
	display: block;
}
.footer__social-icons{
	a{
		padding-right: 20px;
		color:#fff;
		&:hover,&focus{
			color:@extra-second-color;
		}
	}
}
.footer__bottom-line{
	position: relative;
	height: 120px;
	color: #fff;
	background-color: @extra-second-color;
	font-family: "Open-sans", arial;
	font-size: 13px;
	line-height: 120px;
}
.footer__top-arrow{
	transition: 0.5s;
	position: absolute;
	transform: translateX(-50%);
	color: #fff;
	border:none;
	background-color: @extra-second-color;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top:-20px;
	left: 50%;
	&:hover,&focus{
		border-radius: 30px;
		cursor: pointer;
		background-color:@extra-first-color;
	}
}
// End footer