// out: null



/*===========================
Table of Content

1. Wrappers
2. Buttons
3. Form elements
===========================*/

/* 0. Fonts
===========================*/
 @font-face{
 font-family: "Bukhari_Script";
 src: url("../css/fonts/Bukhari_Script.ttf") format("truetype");
 font-style: normal; 
font-weight: normal; 
}

 @font-face{
 font-family: "Hamurz";
 src: url("../css/fonts/Hamurz_Free_Version.ttf") format("truetype");
 font-style: normal; 
font-weight: normal; 
}

 @font-face{
 font-family: "Montserrat";
 src: url("../css/fonts/montserrat.ttf") format("truetype");
 font-style: normal; 
font-weight: normal; 
}

 @font-face{
 font-family: "Montserrat-bold";
 src: url("../css/fonts/montserrat-bold.ttf") format("truetype");
 font-style: normal; 
font-weight: normal; 
}

 @font-face{
 font-family: "Open-sans";
 src: url("../css/fonts/open-sans.ttf") format("truetype");
 font-style: normal; 
font-weight: normal; 
}

 @font-face{
 font-family: "Open-sans-italic";
 src: url("../css/fonts/open-sans-italic.ttf") format("truetype");
 font-style: normal; 
font-weight: normal; 
}


/* 1. Wrappers
===========================*/


