
@media only screen and (max-width : 1150px) {
    //Common
	//===============================
	.card__text_size_m{
		margin: 25px 0;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	//Common
	//===============================
	.card__text_size_m{
		margin: 45px 0;
	}


	//Fitness post section
	//============================================

	.fitness-post__grid-container{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: "el1"
							 "el2"
							 "el3";
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 540px) {
    //Common
	//===============================
	.card__text_size_m{
		margin: 25px 0;
	}

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    /**/
}